html {
  background-color: black;
  color: white;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button a {
  color: black;
}

img {
  height: 30px;
  width: 30px;
}
